<mat-card class="auth-card">
    <mat-card-title>Regisztráció</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Felhasználónév</mat-label>
          <input matInput [(ngModel)]="username" name="username" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Jelszó</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Jelszó mégegyszer</mat-label>
          <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </mat-form-field>
  
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Regisztráció</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  